/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    gap: 12px;
    margin-top: 30px;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff4f00;
    color: #ff4f00;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    color: #fff;
    background: #ff4f00;
}

.pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
